/* section paddings */
/* section description и общие классы */
    /* media-768 for section titles*/
/* header */
    /* nav */
    /* headerMain */
    /* media -1500 -1400 -1200 -992 -576 */
/* main */
    /* how It Works */
        /* media -992 -768 */
    /* priceBlock */
    /* truck fleet */
        /* media -992 -768 */
    /* feedback */
        /* media -1400 */
    /* order */
        /* media -576*/
    /* address */
        /* media -992 */
/* footer */





* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;

}
body {
    color: #333333;
}
 
/*----- section paddings -----*/
.main__how-it-work {
    padding: 47px 0 61px;
}
.main__price-block {
    padding: 43px 0 83px;
}
.main__truck-fleet {
    padding: 71px 0 63px;
}
.main__feedback {
    padding: 83px 0 111px;
}
.main__order {
    padding: 107px 0 123px;
}
footer {
    padding: 104px 0 102px;
}


/*----- section description и общие классы-----*/
section, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.section-subtitle .item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    .section-title {
        font-size: 24px;
    }
    .section-subtitle, .item-title {
        font-size: 18px;
    }
}
.section-wrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.item-info, .icon-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 13px 0;
}
button {
    cursor: pointer;

}
button.accent-button {
    width: 250px;
    height: 51.34px;
    border: none;
    background-color: #FED100;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
button.accent-button:hover {
   color: #FED100;
  /* background-color: rgb(20%, 20%, 20%, 0.7);*/
  background-color: grey;
}

a {
    color: #333;
    cursor: pointer;
}
input[type="submit"] {
    cursor: pointer;
}

/*---- header -----*/

header {
    background-color: #FED100;
    background-image: url("../media/headerimg.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px 10.5vw 158px 15.4vw;
    /*position: relative; /*for phoneImg*/

}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.logo {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 25px;
    cursor: pointer;
    z-index: 100;
}
nav .header__phone {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /*grid*/
    justify-self: flex-end;
}

nav .header__menu-btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 100;
}

nav .menuOn {
    top: 80px;
}   
nav .menuOn li {
    margin: 0;
    margin-top: 20px;
}


.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main-title {
    margin-right: 4.15vw; /*80px*/
    align-self: flex-start;
}
.header__main-title .header__title {
    margin: 56px 0 44px 0;
}
.header__main-title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
} 
.header__main-title h1 span {
    -webkit-text-stroke: 0.1px #000;
    -webkit-text-fill-color: #333;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 94px; /*to fix width of headerMainTitle*/
}

.header__main-title h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.header__main-title button {
    width: 304px;
    height: 53.55px;
    background-color: #FF352B;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    cursor: pointer;
}
.header__main-title button:hover {
    background-color: #F2F2F2;
    color: #FF352B;

}


.header__main-title .header__button {
    position: relative;
    z-index: 1;
}
.header__main-title .header__button::before {
    content: "";
    width: 304px;
    height: 53.55px;
    outline: 2px solid #F2F2F2;
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;
}
.header__main-title button:active {
    transform: translate(10px, 10px);
}
.header__main-title .header__icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 68px 0 0px 0;
}
.header__main-title .header__icon-container .header__icon-container-inner {
    display: flex;
    align-items: center;
}
.header__main-title .header__icon {
    margin-right: 10px;
}
.header__main-pics {
    position: relative;
    align-self: flex-end; /*to place on the bottom*/
    display: grid;
    grid-template-columns: 20vw 26vw;
    grid-auto-rows: 140px 323px 140px;
}


.header__main-pics .header__man {
    background-image: url("../media/mover_man.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    grid-column: 1/2;
    grid-row: 1/4;

    position: relative;
    bottom: 0px;
    z-index: 10;
}
.header__main-pics .header__car {
    background-image: url("../media/car.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;

    position: relative;
    left: -90px;
    top: -45px;
    z-index: 0;
}
header .header__phone-img-container {
    align-self: flex-end;
    margin-right: 150px;

}
header .header__phone-img {
    /*position: absolute;
    right: 18vw; 
    top: 70%;
    z-index: 100;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(61, 155, 233, 0.8);
    font-size: 52px;
    color: #fff;
    cursor: pointer;
    position: relative;
}
header .header__phone-img::after,
header .header__phone-img::before {
    content: "";
    position: absolute;
    width: 136px;
    height: 121px;
    border-radius: 50%;
    background-color: rgba(61, 155, 233, 0.3);
    animation: pulse 1.5s linear infinite;
}
header .header__phone-img::after {
    animation-delay: 0.5s;
}
@keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

@media(max-width: 1600px) {
    header {
        padding: 70px 10.5vw 50px 15.4vw;
    }
    .header__main-title .header__icon-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
    }
  }
@media(max-width: 1500px) {
    .header__main-title {
        margin-bottom: 50px;
    }
   .header__main-title .header__title h1 {
        font-size: 60px;
        line-height: 60px;
    }
}
@media(max-width: 1400px) {
    header .header__phone-img-container {
        align-self: flex-start;
        /*margin-right: 150px;*/
        margin-top: 50px;
    
    }
    
} 
@media(max-width: 1200px) {
        nav .header__phone {
        grid-row: 2/3;
        justify-self: flex-start;
        white-space: nowrap;
    }

        .header__main-title .header__icon-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
    }
    
    header .header__phone-img-container {
        margin-top: 100px;
    
    }

   /* .header__main {
        justify-content: center;
    }*/
}

@media (max-width: 992px) {
    nav ul {
        position: absolute;
        top: -100vh;
        right: 10px;
        padding: 10px;
        z-index: 10;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    nav .header__menu-btn {
            display: block;
            grid-column: 3/4;
            justify-self: flex-end;
        }
}
@media (max-width: 768px) {
    header .header__phone-img {
        display: none;
    }

}
@media (max-width: 576px) {
    header {
        background-image: none;
    }
    .header__main-title .header__title h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .header__main .header__main-title .header__button {
        margin: 0 auto;
    }
    .header__main .header__main-title .header__button::before{
        content: none;
    }
    .header__main .header__main-title .header__icon-container {
        display: none;
    }
}

main {
    width: 100%;
}
/*---- howItWorks ----*/
.hiw__step-cards {
    width: 57vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(102, 1fr));
    grid-column-gap: 7vw;
    grid-row-gap: 5vh;
}
.hiw__slider-triggers {
    display: none;
}
.hiw__slider-markers {
    display: none;
}

.hiw__step-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hiw__step-position {
    position: relative;
    top: 12px;
    left: -40px;
}
.hiw__step-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}
.hiw__step-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}


@media (max-width: 992px) {
    .hiw__step-cards {
        position: relative;
        /* left: 50px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .hiw__step-item {
        width: 90%;
        height: 150px;

    }
    .hiw__slider-triggers {
        width: 130%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        align-self: center;
        position: relative;
        bottom: 200px;
    }
    .hiw__trigger {
        color: #333;
        font-size: 42px;
        cursor: pointer;
        transition: color 0.5s ease;
    }
    .hiw__trigger:hover {
        color: #FED100;
    }
    .hiw__slider-markers {
        display: flex;
        position: relative;
        top: 70px;
    }
    .hiw__slider-markers > div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #333333;
        margin-left: 10px;
        transition: background-color 0.5s ease;

    }
}
@media (max-width: 768px) {
    .hiw__step-position {
        left: -10px;
    }
    .hiw__step-position img {
        transform: scale(0.7);
    }
    .hiw__step-title {
        font-size: 18px;
    }
    .hiw__step-descr {
        font-size: 14px;
        line-height: 21px;
    }
    
}


/*----- priceBlock -----*/

.main__price-block .sectionWrap {
    min-width: 0; 
}
.main__price-block .swiper {
    max-width: 69vw;
}
.pb__card {
    padding: 84px 13px 79px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pb__card:hover {
    border: 1px solid #FED100;

}

.pb__card-price {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 47px 0 52px;
}
.pb__card .itemTitle {
    margin-bottom: 47px;
}

/*----- truck fleet -----*/
.tf__truck-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tf__button-set {
    display: grid;
    grid-template-columns: repeat(3, 201px);
    grid-gap: 19px;
    margin-bottom: 47px;
}
.tf__button-set button {
    width: 201px;
    height: 50px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.tf__button-set button:hover {
    border: 1px solid #FED100;
}
.tf__button-set button:active {
    border: 1px solid #FED100;
}
.invisible {
    display: none;
}

.tf__truck-info {
    width: 52.2vw;
    height: auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 112px;

}
@media(max-width: 992px) {
    .tf__truck-info {
        display: grid;
        grid-template-columns: 250px;
        grid-auto-rows: minmax(277px, auto);
        grid-gap: 20px;
        justify-content: center;
    }
    .tf__truck-info .tf__truck-img {
        grid-row: 1;
    }
}
@media(max-width: 768px) {
    .tf__button-set {
        grid-template-columns: repeat(3, auto);
    }
    .tf__button-set button {
        border: none;
        width: auto;
        height: auto;
        position: relative;
    }
    .tf__button-set button:hover {
        border: none;

    }
    .tf__button-set button::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #FED100;
        bottom: 0;
        left: 50%;
        transition: width 0.5s ease, left 0.5s ease;
    }
    .tf__button-set button:hover::after {
        width: 100%;
        left: 0;
    }

}


.tf__truck-info .tf__truck-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tf__truck-info .tf__truck-descr {
    margin: auto 0;
}
.tf__truck-info .tf__truck-descr .itemTitle {
    margin-bottom: 24px;
}
.tf__truck-descr .fa-solid {
    margin-right: 15px;
}
.tf__truck-descr button {
    margin-top: 22px;
}
/*----- feedback -----*/
.main__feedback {
    background-color: #FED100;
}
.main__feedback .sectionWrap { /*for swiper*/
    min-width: 0; 
}

.main__feedback .swiper {
    max-width: 80vw;
}

.feedback__feedback-item span {
    color: #FF352B;
    margin-left: 8.5px;
}
.feedback__feedback-item a {
    text-decoration: underline;
    cursor: pointer;
}
.main__feedback button {
    margin-top: 61px;
    width: 250px;
    height: 50px;
    border: 1px solid #333333;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

@media(max-width: 1400px) {
    .main__feedback button {
        display: none;
    }
}


/*----- order -----*/
.main__order {
    padding-left: 23.8vw;
    align-items: flex-start;
}
.main__order form {
    display: flex;
    flex-wrap: wrap;
}
.main__order form .order__input-field {
    position: relative;
}
.main__order form .order__input-field span {
    position: absolute;
    bottom: 10px;/*40*/
    left: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.7);
    pointer-events: none;
    transition: all 0.2s ease;
}
.main__order form .order__input {
    width: 300px;
    height: 55px;
    border: none;
    border-bottom: 1px solid #333333;
    margin-right: 70px;
    margin-top: 22px;
    padding-left: 5px;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    transition: all 0.2s ease;
}
.main__order form .order__input:hover {
    background-color: rgba(0, 0, 0, 0.04);
    
}
.main__order form .order__input:focus {
   /* background-color: #FED100;*/
    border-bottom: 2px solid #FED100;
    background-color: transparent;

}
.main__order form .order__input:focus + span {
    transform: translate(-20px, -25px) scale(0.5);
    font-weight: 700;
    color: #333;
}
.main__order form .order__input:not(:placeholder-shown) {
   /* background-color: #FED100;*/
   border-bottom: 2px solid #FED100;

}
.main__order form .order__input:not(:placeholder-shown) + span {
    transform: translate(-20px, -25px) scale(0.5);
    font-weight: 700;
    color: #333;
  }
.main__order form .order__call-me-button {
    width: 250px;
    height: 50px;
    background-color: #FF352B;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F2F2F2;
    border: none;
    outline: none;
    position: relative;
    margin: 22px 0;
}
.main__order form .order__call-me-button:hover {
    box-shadow: 0 0 10px #FED100;
}
.main__order form .order__call-me-button:active {
    transform: translate(10px, 10px);
    border: 1px solid #FED100;

}
.main__order form .order__agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
}
.main__order form .order__agreement input {
    margin-right: 10px;
    margin-top: 0;
    width: 15px;
    height: 16px;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #333;
    outline: none;
    border-radius: 2px/2px;
    position: relative;
    box-shadow: none;
}
.main__order form .order__agreement input:checked::after {
    content: url("../media/checkmarkpure.svg");
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 15px;
    height: 15px;
}
.main__order form .order__agreement input:not(:checked)::before {
    content: attr(data-checked);
    position: absolute;
    bottom: -75px;
    left: 10px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 0px 10px 10px 10px;
    padding: 5px;
}

@media(max-width: 576px) {
    .main__order {
    padding-left: 10vw;
    }
    .main__order form .order__input {
        width: 250px;
        margin-right: 0;
    }
}

/*----- address -----*/
address {
    position: relative;
}
address .address__location {
    width: 100%;
    text-align: center;
}
iframe {
    width: 100%;
    height: 60vh;
    pointer-events: none;
}
address .address__map-card {
    width: 368px;
    height: 326px;
    background-color: #fff;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: absolute;
    top: 25%;
    left: 20%;
}
address .address__map-card .address__map-info {
    margin: 40px 0;
}
address .address__map-card .address__map-info p:nth-child(2) {
    margin: 20px 0;
}
address .address__map-card .address__map-info p span {
    color: #FED100;
    margin-right: 15px;
}
address .address__map-card .address__map-info p:last-child a {
    position: relative;
}
address .address__map-card .address__map-info p:last-child a::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}
address .address__map-card .address__social {
    align-self: flex-end;
    display: flex;
}
address .address__map-card .address__social p:nth-child(-n+3) {
    margin-right: 25px;

}
address .address__map-card .address__social p .fa-brands{
    width: 18px;
    height: 18px;
}
@media(max-width: 992px) {
    address .address__map-card {
        display: none;
    }
}
/*----- footer -----*/
footer {
    padding: 104px 0 102px;
    background-color: #FED100;
    
}
.footer__footer-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footer__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 250px));
    grid-column-gap: 169px;
    grid-row-gap: 20px;
    justify-content: center;
}
.footer__logo p:nth-child(2) {
    margin: 36px 0;
}
.footer__nav ul {
    list-style: none;
}
.footer__nav ul li {
    margin-bottom: 15px;
}
.footer__footer-social .fa-brands{
    width: 18px;
    height: 18px;
}

.footer__footer-social p span:nth-child(-n+3) {
    margin-right: 27px;
 
}
.footer__footer-social p:last-child a {
    position: relative;
    margin-top: 20px;
}
.footer__footer-social p:last-child a::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.footer__footer-phoneback {
    text-align: center;
}
.footer__footer-phoneback button{
    width: 250px;
    height: 44px;
    background-color: #FED100;
    border: 1px solid #333333;
}
.footer__footer-phoneback a {
    margin-top: 5px;
    position: relative;
}
.footer__footer-phoneback a::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}