/* section paddings */
/* section description и общие классы */
    /* media-768 for section titles*/
/* header */
    /* nav */
    /* headerMain */
    /* media -1500 -1400 -1200 -992 -576 */
/* main */
    /* how It Works */
        /* media -992 -768 */
    /* priceBlock */
    /* truck fleet */
        /* media -992 -768 */
    /* feedback */
        /* media -1400 */
    /* order */
        /* media -576*/
    /* address */
        /* media -992 */
/* footer */





* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;

}
body {
    color: #333333;
}
 
/*----- section paddings -----*/
.howItWork {
    padding: 47px 0 61px;
}
.priceBlock {
    padding: 43px 0 83px;
}
.truckFleet {
    padding: 71px 0 63px;
}
.feedback {
    padding: 83px 0 111px;
}
.order {
    padding: 107px 0 123px;
}
footer {
    padding: 104px 0 102px;
}


/*----- section description и общие классы-----*/
section, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sectionTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.sectionSubTitle, .itemTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    .sectionTitle {
        font-size: 24px;
    }
    .sectionSubTitle, .itemTitle {
        font-size: 18px;
    }
}
.sectionWrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.itemInfo, .iconDescr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 13px 0;
}
button.accentButton {
    width: 250px;
    height: 51.34px;
    border: none;
    background-color: #FED100;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
a {
    color: #333;
    cursor: pointer;
}

/*---- header -----*/

header {
    background-color: #FED100;
    padding: 70px 10.5vw 0 15.4vw;
    position: relative; /*for phoneImg*/

}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.logo {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 25px;
    cursor: pointer;
    z-index: 100;
}
nav .phone {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /*grid*/
    justify-self: flex-end;
}

nav .menuBtn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 100;
}

nav .menuOn {
    top: 80px;
}   
nav .menuOn li {
    margin: 0;
    margin-top: 20px;
}


.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMainTitle {
    margin-right: 4.15vw; /*80px*/
    align-self: flex-start;
}
.headerMainTitle .title {
    margin: 56px 0 44px 0;
}
.headerMainTitle h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
} 
.headerMainTitle h1 span {
    -webkit-text-stroke: 0.1px #000;
    -webkit-text-fill-color: #333;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 94px; /*to fix width of headerMainTitle*/
}

.headerMainTitle h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.headerMainTitle button {
    width: 304px;
    height: 53.55px;
    background-color: #FF352B;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    cursor: pointer;
}
.headerMainTitle .button {
    position: relative;
    z-index: 1;
}
.headerMainTitle .button::before {
    content: "";
    width: 304px;
    height: 53.55px;
    outline: 2px solid #F2F2F2;
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;
}
.headerMainTitle button:active {
    transform: translate(10px, 10px);
}
.headerMainTitle .iconContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 68px 0 0px 0;
}
.headerMainTitle .iconContainer .iconContainerInner {
    display: flex;
    align-items: center;
}
.headerMainTitle .icon {
    margin-right: 10px;
}
.headerMainPics {
    position: relative;
    align-self: flex-end; /*to place on the bottom*/
    display: grid;
    grid-template-columns: 20vw 26vw;
    grid-auto-rows: 140px 323px 140px;
}


.headerMainPics .man {
    background-image: url("../media/mover_man.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    grid-column: 1/2;
    grid-row: 1/4;

    position: relative;
    bottom: 0px;
    z-index: 10;
}
.headerMainPics .car {
    background-image: url("../media/car.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;

    position: relative;
    left: -90px;
    top: -45px;
    z-index: 0;
}

header .phoneImg {
    position: absolute;
    right: 18vw; 
    top: 70%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(61, 155, 233, 0.8);
    font-size: 52px;
    color: #fff;
    cursor: pointer;
}
header .phoneImg::after,
header .phoneImg::before {
    content: "";
    position: absolute;
    width: 136px;
    height: 121px;
    border-radius: 50%;
    background-color: rgba(61, 155, 233, 0.3);
    animation: pulse 1.5s linear infinite;
}
header .phoneImg::after {
    animation-delay: 0.5s;
}
@keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }



@media(max-width: 1500px) {
    .headerMainTitle {
        margin-bottom: 50px;
    }
   .headerMainTitle .title h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .headerMainTitle .iconContainer {
        flex-wrap: wrap;
    }
    
    .headerMainPics {
        grid-template-rows: 90px 248px 90px;
    }
}
@media(max-width: 1400px) {
    nav .phone {
        grid-row: 2/3;
        justify-self: flex-start;
        white-space: nowrap;
    }
    
    .headerMainPics {
        grid-template-rows: 100px 248px 100px;
    }

} 
@media(max-width: 1200px) {
    .headerMainPics .man, .headerMainPics .car {
        display: none;
    }
    .headerMain {
        justify-content: center;
    }
    .headerMain .headerMainPics {
        display: none;
    }
    header .phoneImg {
        top: 40%;
    }
}

@media (max-width: 992px) {
    nav ul {
        position: absolute;
        top: -100vh;
        right: 10px;
        padding: 10px;
        z-index: 10;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    nav .menuBtn{
            display: block;
            grid-column: 3/4;
            justify-self: flex-end;
        }
}

@media (max-width: 576px) {
    .headerMainTitle .title h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .headerMain .headerMainTitle .button {
        margin: 0 auto;
    }
    .headerMain .headerMainTitle .button::before{
        content: none;
    }
    .headerMain .headerMainTitle .iconContainer {
        display: none;
    }
    header .phoneImg {
        display: none;
    }
}

main {
    width: 100%;
}
/*---- howItWorks ----*/
.stepCards {
    width: 57vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(102, 1fr));
    grid-column-gap: 7vw;
    grid-row-gap: 5vh;
}
.sliderTriggers {
    display: none;
}
.sliderMarkers {
    display: none;
}

.stepItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.stepPosition {
    position: relative;
    top: 12px;
    left: -40px;
}
.stepTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}
.stepDescr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}


@media (max-width: 992px) {
    .stepCards {
        position: relative;
        /* left: 50px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .stepItem {
        width: 90%;
        height: 150px;

    }
    .sliderTriggers {
        width: 130%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        align-self: center;
        position: relative;
        bottom: 200px;
    }
    .trigger {
        color: #333;
        font-size: 42px;
        cursor: pointer;
        transition: color 0.5s ease;
    }
    .trigger:hover {
        color: #FED100;
    }
    .sliderMarkers {
        display: flex;
        position: relative;
        top: 70px;
    }
    .sliderMarkers > div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #333333;
        margin-left: 10px;
        transition: background-color 0.5s ease;

    }
}
@media (max-width: 768px) {
    .stepPosition {
        left: -10px;
    }
    .stepPosition img {
        transform: scale(0.7);
    }
    .stepTitle {
        font-size: 18px;
    }
    .stepDescr {
        font-size: 14px;
        line-height: 21px;
    }
    
}


/*----- priceBlock -----*/

.priceBlock .sectionWrap {
    min-width: 0; 
}
.priceBlock .swiper {
    max-width: 69vw;
}
.card {
    padding: 84px 13px 79px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card:hover {
    border: 1px solid #FED100;

}

.cardPrice {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin: 47px 0 52px;
}
.card .itemTitle {
    margin-bottom: 47px;
}

/*----- truck fleet -----*/
.truckOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonSet {
    display: grid;
    grid-template-columns: repeat(3, 201px);
    grid-gap: 19px;
    margin-bottom: 47px;
}
.buttonSet button {
    width: 201px;
    height: 50px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.buttonSet button:hover {
    border: 1px solid #FED100;
}
.buttonSet button:active {
    border: 1px solid #FED100;
}
.invisible {
    display: none;
}

.truckInfo {
    width: 52.2vw;
    height: auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 112px;

}
@media(max-width: 992px) {
    .truckInfo {
        display: grid;
        grid-template-columns: 250px;
        grid-auto-rows: minmax(277px, auto);
        grid-gap: 20px;
        justify-content: center;
    }
    .truckInfo .truckImg {
        grid-row: 1;
    }
}
@media(max-width: 768px) {
    .buttonSet {
        display: grid;
        grid-template-columns: 201px;
        grid-template-rows: repeat(3, auto);
        grid-gap: 19px;
        margin-bottom: 47px;
    }
    
}


.truckInfo .truckImg {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.truckInfo .truckDescr {
    margin: auto 0;
}
.truckInfo .truckDescr .itemTitle {
    margin-bottom: 24px;
}
.truckDescr .fa-solid {
    margin-right: 15px;
}
.truckDescr button {
    margin-top: 22px;
}
/*----- feedback -----*/
.feedback {
    background-color: #FED100;
}
.feedback .sectionWrap { /*for swiper*/
    min-width: 0; 
}

.feedback .swiper {
    max-width: 80vw;
}

.feedbackItem span {
    color: #FF352B;
    margin-left: 8.5px;
}
.feedbackItem a {
    text-decoration: underline;
    cursor: pointer;
}
.feedback button {
    margin-top: 61px;
    width: 250px;
    height: 50px;
    border: 1px solid #333333;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

@media(max-width: 1400px) {
    .feedback button {
        display: none;
    }
}


/*----- order -----*/
.order {
    padding-left: 23.8vw;
    align-items: flex-start;
}
.order form {
    display: flex;
    flex-wrap: wrap;
}
.order form .inputField {
    position: relative;
}
.order form .inputField .inputPlaceholder {
    position: absolute;
    bottom: 40px;
    left: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.7);
    pointer-events: none;
    transition: all 0.2s ease;
}
.order form .input {
    width: 300px;
    height: 55px;
    border: none;
    border-bottom: 1px solid #333333;
    margin-right: 70px;
    margin-top: 22px;
    padding-left: 5px;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    transition: all 0.2s ease;
}
.order form .input:hover {
    background-color: rgba(0, 0, 0, 0.04);;
}
.order form .input:focus {
    background-color: #FED100;
}
.order form .input:focus + .inputPlaceholder {
    transform: translate(-20px, -25px) scale(0.5);
    font-weight: 700;
    color: #333;
}
.order form .input:not(:placeholder-shown) {
    background-color: #FED100;
}
.order form .input:not(:placeholder-shown) + .inputPlaceholder {
    transform: translate(-20px, -25px) scale(0.5);
    font-weight: 700;
    color: #333;
  }
.order form .callMeButton {
    width: 250px;
    height: 50px;
    background-color: #FF352B;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #F2F2F2;
    border: none;
    outline: none;
    position: relative;
    margin: 22px 0;

}

.order form .callMeButton:active {
    transform: translate(10px, 10px);
    border: 1px solid #FED100;

}
.order form .agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
}
.order form .agreement input {
    margin-right: 10px;
    margin-top: 0;
    width: 15px;
    height: 16px;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #333;
    outline: none;
    border-radius: 2px/2px;
    position: relative;
    box-shadow: none;
}
.order form .agreement input:checked::after {
    content: url("../media/checkmarkpure.svg");
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 15px;
    height: 15px;
}

@media(max-width: 576px) {
    .order {
    padding-left: 10vw;
    }
    .order form .input {
        width: 250px;
        margin-right: 0;
    }
}

/*----- address -----*/
address {
    position: relative;
}
address .location {
    width: 100%;
    text-align: center;
}
iframe {
    width: 100%;
    height: 60vh;
}
address .mapCard {
    width: 368px;
    height: 326px;
    background-color: #fff;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: absolute;
    top: 25%;
    left: 20%;
}
address .mapCard .mapInfo {
    margin: 40px 0;
}
address .mapCard .mapInfo p:nth-child(2) {
    margin: 20px 0;
}
address .mapCard .mapInfo p span {
    color: #FED100;
    margin-right: 15px;
}
address .mapCard .mapInfo p:last-child a {
    position: relative;
}
address .mapCard .mapInfo p:last-child a::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}
address .mapCard .social {
    align-self: flex-end;
    display: flex;
}
address .mapCard .social p:nth-child(-n+3) {
    margin-right: 25px;

}
address .mapCard .social p .fa-brands{
    width: 18px;
    height: 18px;
}
@media(max-width: 992px) {
    address .mapCard {
        display: none;
    }
}
/*----- footer -----*/
footer {
    padding: 104px 0 102px;
    background-color: #FED100;
    
}
.footerText {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footerWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 250px));
    grid-column-gap: 169px;
    grid-row-gap: 20px;
    justify-content: center;
}
.footerLogo p:nth-child(2) {
    margin: 36px 0;
}
.footerNav ul {
    list-style: none;
}
.footerNav ul li {
    margin-bottom: 15px;
}
.footerSocial .fa-brands{
    width: 18px;
    height: 18px;
}

.footerSocial p span:nth-child(-n+3) {
    margin-right: 27px;
 
}
.footerSocial p:last-child a {
    position: relative;
    margin-top: 20px;
}
.footerSocial p:last-child a::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.footerPhoneback {
    text-align: center;
}
.footerPhoneback button{
    width: 250px;
    height: 44px;
    background-color: #FED100;
    border: 1px solid #333333;
}
.footerPhoneback a {
    margin-top: 5px;
    position: relative;
}
.footerPhoneback a::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0px;
}